{% extends "base.html.twig" %}

{% block body %}

	<article>
		<h2>{{ article.title }}</h2>
		<div class="metadata">Le
			{{ article.createdAt | date('d/m/Y') }}
			à
			{{ article.createdAt | date('H:i') }}
			dans la catégorie
			{{ article.category.title }}</div>
		<div class="content">
			<img src="{{ article.image }}" alt="">
			<br><br>
			{{ article.content | raw | length < 8 }}
			<br><br>
			<a href="{{ path('site') }}" class="btn btn-primary">Retour</a>
			<br>


			<br>
			<p>Envie de partager avec les villageois ?</p>
			<a class="button" href="{{ path('create_content') }}">Créez votre contenu ici</a>
		</div>
	</article>
	<br>
	<section id="comments">
		<h2>{{ article.comments | length }}
			commentaires</h2>
		{% for comment in article.comments%}
			<div class="comment">
				<div class="row">
					<div class="col-3">{{ comment.author }}(<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
					</div>
					<div class="col">{{ comment.content | raw }}</div>
				</div>
			</div>
		{% endfor %}

		{% if app.user %}
			{{ form_start(commentForm) }}
			{{ form_row(commentForm.author, {'attr': {'placeholder': "Votre nom" }}) }}
			{{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}}) }}
			<button type="submit" class="btn btn-success">Commenter</button>
			{{ form_end(commentForm) }}

		{% else %}
			<h3>Vous ne pouvez pas commenter si vous n'êtes pas connecté</h3>
			<a href="{{ path('login') }}" class="btn btn-primary">Connexion</a>
		{% endif %}
	</section>

{% endblock %}
